.menuWrapper {
  flex: 0 0 auto;

  &.customWidth {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0;
  }

  .menuContainer {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 22px;
    background: #477394;

    .link {
      margin-right: 18px;
      color: #fff;
      font-family: Tahoma, sans-serif;
      font-size: 16px;
      font-weight: bold;

      &:last-child {
        margin-right: 0;
      }

      &.selectedLink {
        text-decoration: underline;
      }
    }
  }
}