#add-todo{
    margin-top: 30px;
    margin-bottom: 30px;
}

#add-todo form{
    overflow: hidden;
}

#add-todo .title{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

#add-todo .formFieldsContainer {
    margin-top: 8px;
}

#add-todo .label {
    margin-bottom: 1px;
}

#add-todo .submitButtonContainer{
    text-align: right;
    margin-top: 20px;
}

#add-todo .previewButton{
    margin-right: 12px;
}

@media (max-width: 576px){
    #add-todo .btn.btn-primary{
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
}
