.chatsSectionHeader {
  display: flex;
  align-items: stretch;
  height: 48px;
  background: #5682a3;

  //Dummy styles to pass unique className to component
  .menuContainer {
    box-sizing: border-box;

    .icon {
      display: inline-block;
      width: 20px;
      height: 14px;
      margin-top: 3px;
      margin-right: 38px;
      vertical-align: top;
      background: url("../../../../icons/General.png") no-repeat;

      &.createChat {
        background-position: -10px -111px;
      }
    }
  }

  .backButtonContainer {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 18px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.06);

      .backButton {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 699px){
  .chatsSectionHeader .icon {
    margin-right: 5.44vw;
  }
}

@media (max-width: 599px){
  .backButtonContainer:not(.hideOnSmallScreens) {
    display: inline-flex;
  }

  .hideOnSmallScreens {
    display: none;
  }
}
