.button {
  display: inline-block;
  width: 11px;
  height: 19px;
  opacity: 0.8;
  background: url("../../../icons/IconsetW.png") no-repeat;
  background-position: -15px -835px;
  cursor: pointer;
}
