#pagination {
    margin-bottom: 5px;
}

.paginationText {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
}

.paginationText .bold {
    font-weight: bold;
}

.button {
    padding: 4px 6px 4px 8px;
    width: 28px;
    height: 28px;
}

.button.prev {
    margin-left: 10px;
    transform: rotate(180deg);
    vertical-align: top;
}

.button.next {
    margin-left: 5px;
    vertical-align: top;
}

.button .arrow-icon {
    margin-top: 3px;
    letter-spacing: 1px;
    vertical-align: top;
}
