.chatsPage {
  display: flex;
  height: 100%;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0;

  .chatsSection {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;

    .chatListAndMessagesContainer {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      position: relative;

      .messagesContainer {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        background: #fff;
      }
    }
  }
}

@media (max-width: 599px){
  .messagesContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}
