.modalBody {
  padding: 26px 30px;
  font-size: 22px;
  text-align: center;

  .icons {
    .icon {
      width: 74px;
      margin-bottom: 26px;
    }
  }
}

.footer {
  padding: 10px 20px;

  .footerButton {
    width: 66px;
    height: 33px;
  }
}