.sortingBar {
    margin-bottom: 12px;

    .sortingBarTitle {
        font-weight: bold;
        font-size: 17px;
    }

    .sortingBarOptions {
        display: inline-block;
        padding: 0;
    }
}

@media (max-width: 575px){
    .sortingBar {
        margin-bottom: 18px;
    }
}
