.todo {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
}

.todo .userInfo {
    display: inline-block;
    flex: 0 0 auto;
    width: 320px;
}

.todo .userInfo .todoImage {
    width: 320px;
    height: 240px;
    object-fit: contain;
}

.todo .userInfo .authorFullName {
    margin: 14px 20px 0;
}

.authorFullName .text {
    display: inline-block;
    margin-top: 1px;
    font-weight: bold;
    vertical-align: top;
}

.todo .userInfo .authorFullName .fullName {
    margin-left: 5px;
}

.status {
    margin: 0 20px;
}

.status .text {
    display: inline-block;
    margin-top: 1px;
    font-weight: bold;
    vertical-align: top;
}

.status .icon {
    margin-left: 7px;
    font-size: 24px;
    vertical-align: top;
}

.status .icon.completed {
    color: #0ce000;
}

.status .icon.incompleted {
    color: #f10a32;
}

.todo .ediTodoButton {
    margin-top: 12px;
    margin-left: 20px;
}

.todo .ediTodoButton .text {
    margin-left: 7px;
}

.todo .desctiption{
    flex: 1 1 auto;
    padding: 0 30px;
}


@media (max-width: 767px){
    .todo .userInfo{
        width: 220px;
    }

    .todo .userInfo .todoImage {
        width: 220px;
    }

    .todo .desctiption {
        padding: 0 30px 0 40px;
    }
}

@media (max-width: 575px){
    .todo {
        flex-direction: column;
    }

    .todo .userInfo {
        margin: 0 auto 22px;
    }

    .todo .desctiption{
        padding: 0 30px;
    }
}
